{
    "presets": [
        "@vue/babel-preset-jsx"
    ],
    "env": {
        "utils": {
            "presets": [
                [
                    "@babel/preset-env"
                ]
            ]
        }
    }
}