
@import "common/var";

.flex-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &.column-flex {
        height: 100%;
        flex-direction: column;
    }

    .auto-block {
        flex: auto;
        height: 1px;
    }
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.link {
    cursor: pointer;
    color: $color-primary;
}