@import "./var";

.ht-custom-invoice {
    padding: 20px;
    width: 1200px !important;
    height: 100%;
    margin: auto;

    .color-gray {
        color: $color-text-secondary;
    }

    .invoice-warp-content {
        width: 900px;
    }

    .button-group {
        text-align: right;
        margin-bottom: 10px;

        .link {
            margin-left: 10px;
        }
    }

    .ht-invoice-alternative {
        padding-right: 20px;
        margin-bottom: 20px;

        .page-title {
            margin-bottom: 10px;
        }

        .sub-title {
            margin: 10px 0 5px;
        }

        .page-container {
            margin-bottom: 20px;
        }


        .ht-invoice-alternative-box {
            margin-bottom: 5px;
            ;
        }

        .ht-alternative-files {
            overflow: auto;

            .list-group {
                padding-left: 30px;
            }

            .list-group-item {
                width: 100% !important;
            }
        }

        // .list-group-item {
        //     .file-name {
        //         width: 100px;
        //     }
        //     .file-value {
        //         color: $color-primary;
        //     }
        // }
    }

    .ht-alternative-files {
        font-size: 12px;

        .list-group {
            min-height: 20px;
        }

        .list-group-item {
            cursor: move;

            &[draggable=true] {
                background: rgba($color-bg-primary, 0.3);
            }
        }

        .file-value {
            color: $color-primary;
        }

        .file-item {
            display: inline-block;
        }
    }

    .ht-invoice-edit-body {
        margin: 5px 0;
        height: 60px;

        .list-group {
            display: flex;

            .no-data {
                height: 57px;
                line-height: 57px;
                flex: auto;
                text-align: center;
                border: 1px dashed $border-color-light;
            }

            .list-group-item {
                border: solid $border-color-light;
                border-width: 1px 0 1px 0;
                min-width: 40px;
                flex: none;
            }

            :first-child.list-group-item {
                border-left-width: 1px;
            }

            .file-item {
                display: block;
                text-align: center;
                padding: 5px;
            }

            .file-name {
                border-bottom: 1px solid $border-color-light;
            }
        }
    }


    .ht-invoice-edit-header {
        background-color: $color-bg-grey;
        min-height: 30px;

        .no-data {
            flex: auto;
            height: 28px;
            line-height: 28px;
            text-align: center;
            border: 1px dashed $border-color-light;
        }

        .list-group {
            display: flex;
            flex-wrap: wrap;

            .list-group-item {
                border: 1px dashed $border-color-light;
                margin-bottom: 5px;
                height: 24px;
                line-height: 24px;

                &.item-flex-1 {
                    width: 25%;
                }

                &.item-flex-2 {
                    width: 50%;
                }

                &.item-flex-3 {
                    width: 75%;
                }

                &.item-flex-4 {
                    width: 100%;
                }
            }
        }
    }


    .ht-invoice-edit-warp {
        background-color: #000;
        width: 900px;
        padding: 20px;

        .ht-invoice-edit-box {
            background-color: $color-bg-grey;
            padding: 10px;
            height: 100%;
        }

        .ht-invoice-edit-content-box {
            border: 2px dashed $border-color-light;
            height: 100%;
            padding: 20px;
        }

        .ht-invoice-edit-content {
            position: relative;

            .page-header {
                padding-top: 50px;

                .page-header-title {
                    font-size: 16px;
                    text-align: center;
                    margin-bottom: 20px;
                    color: $color-primary;
                }
            }

            .company-logo {
                font-size: 12px;
                position: absolute;
                left: 0;
                top: 0;
                min-width: 60px;
                height: 60px;
                line-height: 60px;
                border: 1px solid $color-text-secondary;
                color: $color-primary;
            }

            .page-header-tip {
                font-size: 12px;
                position: absolute;
                right: 0;
                top: 0;

                .content {
                    color: $color-primary;
                }
            }
        }

    }

    .print-copy-right {
        font-size: 12px;
        color: $color-text-secondary;
        margin-top: 10px;
        text-align: right;
    }
}

.ht-trashzone  >.list-group-item {
    display: none;
}