
.el-table {
    background: #F6FAFD;

    th {
        background: #F9FDFF;
    }

    tr {
        background: #FFFFFF;
        font-size: 12px;
    }
}

.el-table td, .el-table th {
    padding: 2px 0;
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
    background: #F9FDFF;
}

.el-table__body tr.current-row>td {
    background: #E0F1FF;
    color: #3AA7FF;
}

.el-table td, .el-table th.is-leaf {
    border-color: #E8EAEF;
}

.el-table--border, .el-table--group {
    border-color: #E8EAEF;
}

.el-table--border::after, .el-table--group::after, .el-table::before {
    background: #F8F8FF;
}

.is-active>.el-submenu__title, .is-active.submenu-title-noDropdown .el-tooltip {
    opacity: 1;
    background-color: #338fcc !important;
}

.el-submenu:hover {
    .menu-block {
        background-color: #338fcc;
    }
}

.submenu-title-noDropdown {
    > .el-tooltip {
        padding: 0 !important;

        &:hover {
            background-color: #338fcc !important;
        }
    }
}

.el-menu-item.is-active {
    position: relative;
    color: #3AA7FF;
    background: #C0E3FF;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 4px;
        height: 100%;
        background: #3AA7FF;
    }
}

.menu-list-box .el-menu .el-submenu >.el-menu {
    background: #E7EBED;
}