@import "./var";

.ht-resize-box {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    .resize-handle {
        flex: auto;
    }
    .right-resize-slider {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background: #000;
        cursor: col-resize;
        &:hover {
            width: 10px;
            background: $border-color-light;
        }
    }
}