$color-primary: #3AA7FF;
$color-success: #00DC8D;
$color-warning: #FFA708;
$color-danger: #FF424D;
$color-text-primary: #171F24;
$color-text-regular: #778087;
$color-text-secondary: #AAB2B7;
$color-text-placeholder: #D2D7DB;
$border-color-base: #E6E6E6;
$border-color-light: #D9D9D9;
$border-color-table: #E8EAEF;
$color-content-bg: #FBFBFB;
$color-dark-bg: #E7EBED;
$color-bg-primary: #00A7FB;
$color-bg-primary-dark: #009CEB;
$color-bg-primary-light: #ecf5ff;
$color-bg-grey: #f2f7f9;
$color-bg-gray: #b0b0b0;
$color-base-background: #e7ebed;


$main-padding-size: 10px;
$main-margin-size: 10px ;